$white: rgb(255, 255, 255);
$light-grey-transp: rgba(255, 255, 255, 0.638);
$dark-gray: rgb(30, 30, 30);

$black: rgb(0, 0, 0);
$dark-transparent: #0000008d;

$orange: #c46509;
$or: rgb(128, 86, 8);

$dark-red: #801502;
$red-error: #ff0000;

$inventory-bg: linear-gradient(180deg, rgba(0, 0, 0, 1) 55%, rgba(119, 13, 13, 1) 100%);
