.txt-center {
    text-align: center;
}

p, label, input {
    font-size: calc(10px + 0.390625vw);
}

h1 {
    font-size: calc(17px + 0.390625vw);
}

h2 {
    font-size: calc(14px + 0.390625vw);
}

h3 {
    font-size: calc(12px + 0.390625vw);
}